{% block body_html %}
    {% set link = 'http://localhost:8000/lostpassword/' ~ token %}

    <h3>Mot de passe perdu !</h3>
    Bonjour  {{ name }}!
    <br />
    Clique sur le lien suivant pour réinitialiser ton mot de passe :
    <a href="{{ link }}" target="_blank">{{ link }}</a>
    <br/>

    Merci

{% endblock %}