{% block body_html %}
    {% set link = 'http://localhost:8000/user/confirm/' ~ token %}

    <h3>Félicitation</h3>
    Bonjour {{ name }}! Votre inscription a bien été pris en compte.
    <br />

    Cliquez sur le lien suivant pour confirmer votre compte : <a href="{{ link }}" target="_blank">{{ link }}</a>
    <br/>

    Merci

{% endblock %}