{# app/templates/index.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>AFSY - WebSockets and Symfony</h1>
        <div id="ws-content-receiver">
            Connecting...
        </div>
        <div id="ws-total-receiver"></div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        var wsUrl = '{{ ws_url }}';
    </script>
    <script type="text/javascript">
        (function () {
            'use strict';

            var _receiver = document.getElementById('ws-content-receiver');
            var ws = new WebSocket('ws://' + wsUrl);

            ws.onopen = function () {
                ws.send('Hello');
                _receiver.innerHTML = 'Connected !';
            };

            ws.onmessage = function (event) {
                _receiver.innerHTML = event.data;
                console.log(event);
            };

            ws.onclose = function () {
                _receiver.innerHTML = 'Connection closed';
            };

            ws.onerror = function () {
                _receiver.innerHTML = 'An error occured!';
            };
        })();

    </script>
{% endblock %}

